:root {
    --primary-color: #FB2E86;
    --secondary-color: #FB2E86;
    --color-3:#2F1AC4;
    --color-4:#3F509E;
    --color-5:#151875;
    --color-6: #F3F9FF;
    --color-7: #E0D3F5;
    --color-8:#7E33E0;
    --color-9:#9F63B5;
    --color-10:#151875;
    
}